
.darkmode {
    background-color: rgba(35, 35, 35, 1);
    color: rgba(202, 202, 202, 1);
}

.lightmode {
    background-color: white;
    color: black;
}


.reader {
    display: inline-block;
    background-color: black;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 90vh;
    border-radius: 30px;
}

.reader__toggler {
    text-align: right;
    margin-right: 2em;
    margin-top: 0.5em;
}

.reader__toggler::after {
    content: "Dark Mode";
    /* background-color: black;
    color: rgba(255, 255, 255, 0.626); */
}

.reader__screen {
    height: 90%;
    margin: 1.5em;
    overflow: auto;
}

.reader__text {
    padding: 1em;
}