strong {
    font-weight: normal;
}

a.btn {
    color: darkred;
}

.header {
    height: 60vh;
    background-image: linear-gradient(to right bottom, rgba(255, 185, 87, 1), rgba(40, 180, 133, 0.8));
    position: relative;
}

    .header-primary {
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

        .header-primary-main {
            display: block;
            font-family: 'Fredoka One', cursive;
            letter-spacing: 0.1em;
            /* font-weight: 700; */
            animation: moveInFromLeft 1s ease-out;
        }

        .header-primary-sub {
            display: block;
            padding-top: 0.5em;
            font-family: 'Sue Ellen Francisco', cursive;
            letter-spacing: 0.1em;
            /* font-family: 'Stint Ultra Condensed', cursive;
            letter-spacing: 0.2em;
            /* font-weight: 400; */
            animation: moveInFromRight 1s ease-out;
        }

.about-me {
    color: black;
    /* background-image: linear-gradient(to right bottom, rgba(102, 222, 120, .87), rgba(115, 250, 173, .98)); */
    color: black;
    position: relative;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid black;
}
    .about-me-title {
        text-align: center;
        font-family: 'Fredoka One', cursive;
        letter-spacing: 0.1em;
    }

    .about-me-description {
        text-align: center;
        font-weight: 400;
    }

.contact-info {
    color: black;
    /* background-image: linear-gradient(to right bottom, rgba(222, 210, 98, .87), rgba(250, 250, 110, .98)); */
    position: relative;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid black;
}
    .contact-info-title {
        text-align: center;
        font-family: 'Fredoka One', cursive;
        letter-spacing: 0.1em;
    }

    .contact-info-description {
        text-align: center;
        font-weight: 400;
    }

        .contact-info-description-email,
        .contact-info-description-linkedin {
            display: block;
        }


.projects {
    color: black;
    /* background-image: linear-gradient(to right bottom, rgba(222, 150, 144, .87), rgba(250, 182, 163, .98)); */
    position: relative;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid black;
}
    .projects-title {
        text-align: center;
        font-family: 'Fredoka One', cursive;
        letter-spacing: 0.1em;
    }

    .projects-list-darkmode-title,
    .projects-list-connect4-title, 
    .projects-list-excel-title {
        font-weight: 500;
        margin-top: 1em;
    }

    .projects-list-darkmode-info-description,
    .projects-list-connect4-info-description, 
    .projects-list-excel-info-description {
        font-weight: 400;
    }

    .projects-list-darkmode-info-experience,
    .projects-list-darkmode-info-code,
    .projects-list-connect4-info-play,
    .projects-list-connect4-info-code,
    .projects-list-excel-info-video {
        text-align: center;
    }

.toolkit {
    color: black;
    /* background-image: linear-gradient(to right bottom, rgba(196, 142, 222, .87), rgba(246, 160, 250, .98)); */
    position: relative;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid black;
}
    .toolkit-title {
        text-align: center;
        font-family: 'Fredoka One', cursive;
        letter-spacing: 0.1em;
    }
    
    .toolkit-list {
        text-align: center;
        font-weight: 400;
    }

.education {
    color: black;
    /* background-image: linear-gradient(to right bottom, rgba(118, 174, 222, .87), rgba(133, 165, 250, .98)); */
    position: relative;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid black;
}
    .education-title {
        text-align: center;
        font-family: 'Fredoka One', cursive;
        letter-spacing: 0.1em;
    }

    .education-list {
        text-align: center;
        font-weight: 400;
    }

        .education-list-degree {
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            padding-left: 3em;
            padding-right: 3em;
            display: flex;
            justify-content: space-between;
        }

.certificates {
    color: black;
    /* background-image: linear-gradient(to right bottom, rgba(131, 222, 190, .87), rgba(148, 250, 244, .98)); */
    position: relative;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
}
    .certificates-title {
        text-align: center;
        font-family: 'Fredoka One', cursive;
        letter-spacing: 0.1em;
    }

    .certificates-list {
        text-align: center;
        font-weight: 400;
    }

.btn, .btn:link, .btn:visited {
    text-decoration: none;
    transition: all 0.8s;
    position: relative;
    font-size: 1rem;
    border: none;
}

.btn:hover {
    font-size: 1.5rem;
    color: black;
}
    /* .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; 
    } */


.btn-white {
    color: black; 
}

@keyframes moveInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); 
    }
    80% {
      transform: translateX(1rem); 
    }
    100% {
      opacity: 1;
      transform: translate(0); 
    } 
}

@keyframes moveInFromRight {
    0% {
        opacity: 0;
        transform: translateX(10rem); 
    }
    80% {
        transform: translateX(-1rem); 
    }
    100% {
        opacity: 1;
        transform: translate(0); 
    } 
}

@media (min-width: 544px) {  
    .education-list-degree {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.2em;
    }
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    .education-list-degree {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.3em;
        padding-bottom: 0.5em;
    }
  }
   
  /* Large devices (desktops, 992px and up) */
  /* @media (min-width: 992px) { 
    .education-list-degree {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
    }
  } */
   
  /* Extra large devices (large desktops, 1200px and up) */
  /* @media (min-width: 1200px) {  
    .education-list-degree {
        padding-left: 16em;
        padding-right: 16em;
        padding-top: 0.2em;
    }
  } */